.logo{
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.beginButton{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    // background: #F7BA2C;
}