.logo{
    // position: absolute;
    top: 40px;
    width: 80%;
    margin: auto;

    // display: table-cell;
    left: 0;
    right: 0;
    // vertical-align: center;
}

.centerButton{
    // position: static;
    // vertical-align: 0;
    // left: 0;
    // right: 0;
    // margin: auto;
    text-align: center;
    margin: auto;
    // width: 80%;

    // text-align: center;
    // background: #F7BA2C;
}

.begin {
    width: 60%;
}