.logo{
    margin-top: 3em;
}

.centerButton{
    text-align: center;
    margin: auto;
    // width: 80%;

    // text-align: center;
    // background: #F7BA2C;
}
.beginButtonStyling {
    width: 60%;
}