<ion-header style="margin-top: 1em;" text-center>
  <ion-label style="font-weight: bold;">
    Add new {{newType}}
  </ion-label>
</ion-header>

<br>

<ion-content text-center padding>
    <ion-input 
      placeholder="Name:"
      [(ngModel)]="newName"
      style="border-style: groove;"
      (keyup.enter)="sendName()"
    ></ion-input>

    
    
</ion-content>

<ion-footer text-center>
  <ion-button color="customDarkGrey" (click)="closeModal()">Cancel</ion-button>
  <ion-button color="customYellow" (click)="sendName()">Add</ion-button>
</ion-footer>