<ion-card>
  <div *ngIf="currNode.isFirst == false" (click)="deleteNode()">
    <ion-icon color="customRed" name="remove-circle-outline"></ion-icon>
  </div>
    
    <ion-card-content>

      <!-- <ion-button (click)=callModal()>call modal</ion-button> -->
      <div>
          <!-- Check to see what type the node is, 
            this will determine what type of icon to show -->
          <div *ngIf="currNode.type == 'actor'; else isFilm">
              <ion-icon name="person"></ion-icon>
          </div>
          <ng-template #isFilm>
              <ion-icon name="videocam"></ion-icon>
          </ng-template>
      </div>

      <div >
        <label style="font-size: 0.6em;">
          {{currNode.name}}
        </label>
      </div>

    </ion-card-content>

  <div *ngIf="currNode.isLast == true" (click)="addNode()">
    <ion-icon color="customGreen" name="add-circle-outline"></ion-icon>
  </div>
</ion-card>

<!-- trailing character to connect to next card if current node is not last -->
<div *ngIf="currNode.isLast == false">
    <!-- check to see if index of current element is divisible by two -->
    <div *ngIf="gameTree.indexOf(currNode) % 2 == 0; else isOdd">
      <!-- check to see what side -->
      <div *ngIf="treeSide == 'left'; else isRight">
        \
      </div>
      <ng-template #isRight>
        /
      </ng-template>
    </div>

    <ng-template #isOdd>
      <!-- check to see what side -->
      <div *ngIf="treeSide == 'left'; else isRight">
          /
        </div>
        <ng-template #isRight>
          \
        </ng-template>
    </ng-template>
</div>