<ion-header>
  <ion-toolbar>

    <ion-back-button text="Exit" [routerLink]="['/levels']"></ion-back-button>
    
    <ion-title>Level {{currLevel.levelNumber}}</ion-title>

    <ion-buttons slot="primary" style="margin-right: 1em;">
      <ion-icon name="information-circle-outline" (click)="showInfo()"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <!-- when calling the node component, 
      send the current node, the  actual array, and the side of the tree -->
    <ion-item-group>
      <ion-row>

        <!-- left game tree -->
        <ion-col text-center> 
          <app-tree-node *ngFor="let node of leftTree" 
            [currNode]=node
            [gameTree]=leftTree
            [treeSide]="'left'" >
          </app-tree-node>
        </ion-col>

        <!-- right game tree -->
        <ion-col text-center>
            <app-tree-node *ngFor="let node of rightTree" 
            [currNode]=node
            [gameTree]=rightTree
            [treeSide]="'right'" >
          </app-tree-node>
        </ion-col>

      </ion-row>
    </ion-item-group>
  </ion-grid>
</ion-content>

<ion-footer text-center>
    <ion-toolbar>
      <ion-button 
      color="danger"
      [disabled]="this.leftTree.length <= 1 && this.rightTree.length <= 1"
      (click)="clearGame()">
        Clear Trees
      </ion-button>
      
        <ion-button 
          color="customDarkGrey" 
          [disabled]="this.leftTree[this.leftTree.length - 1].type === this.rightTree[this.rightTree.length - 1].type" 
          (click)="checkGame()"
          [routerLink]="['/levels']">
            Complete Game
          </ion-button>
    </ion-toolbar>
</ion-footer>


<!--
This will be a featured implemented down the line where the bottom-most edge on the least built tree will stick to the top when scrolling down
<ion-item-divider style="background-color: white;" sticky><app-given-actor [actorName]="currLevel.actor2"></app-given-actor></ion-item-divider>
-->