<ion-header>
  <ion-toolbar>
    <ion-title>Level {{currLevel.levelNumber}}</ion-title>
    <ion-back-button text="Exit" [routerLink]="['/levels']"></ion-back-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <!-- when calling the node component, 
      send the current node and the  actual array -->
    <ion-item-group>
      <ion-row>

        <!-- left game tree -->
        <ion-col text-center> 
          <app-tree-node *ngFor="let node of leftTree" 
            [currNode]=node
            [gameTree]=leftTree
            [treeSide]="'left'" >
          </app-tree-node>
        </ion-col>

        <!-- right game tree -->
        <ion-col text-center>
            <app-tree-node *ngFor="let node of rightTree" 
            [currNode]=node
            [gameTree]=rightTree
            [treeSide]="'right'" >
          </app-tree-node>
        </ion-col>

      </ion-row>
    </ion-item-group>
  </ion-grid>
</ion-content>


<!--
This will be a featured implemented down the line where the bottom-most edge on the least built tree will stick to the top when scrolling down
<ion-item-divider style="background-color: white;" sticky><app-given-actor [actorName]="currLevel.actor2"></app-given-actor></ion-item-divider>
-->