<ion-header>
  <ion-toolbar>
    <ion-title>Select Level</ion-title>
    <ion-back-button text="Title" [routerLink]="['/main']"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
    <ion-card *ngFor="let level of levels" (click)="beginGame(level)" [routerLink]="['/game']">
      <ion-card-header>
        <ion-card-title>Level: {{level.levelNumber}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{level.name1}} <br> {{level.name2}}
      </ion-card-content>
    </ion-card>
  </ion-list>
  
</ion-content>
